AZURE_OPENAI_ENDPOINT = ""
AZURE_OPENAI_API_KEY = ""

LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

TAVILY_API_KEY = ""

GOOGLE_SEARCH_ENGINE_ID = ""
GOOGLE_API_KEY=""