AZURE_OPENAI_ENDPOINT = "https://your-azure-openai-endpoint"
AZURE_OPENAI_API_KEY = "your_azure_openai_api_key"

LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="your_project_id"

TAVILY_API_KEY = "your_tavily_api_key"